{% extends 'base.html' %}

{% block content %}
    <body id="about">
        <!-- DNA image at the top -->
        <div class="centered-container">
            <img class="centered-image" src="{{ url_for('static', filename='images/dna.png') }}" alt="Image">
        </div>

        <!-- Title -->
        <h2>{% block title %} About {% endblock %}</h2>
        
        <!-- Code -->
        <div class="container-main">
            <div class="column" id="column1">
                <h2>Data and references</h2>
                <p>snpXplorer is a web-server application based on <a href="https://flask.palletsprojects.com/en/2.3.x/"Flask</a> and written in Python, HTML and Javascript. The source code is freely available on our  <a href="https://github.com/TesiNicco/snpXplorer">Github</a> page.<br>
                snpXplorer is <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">licensed</a> under CC BY-NC-SA 4.0.
                The application can potentially be cloned on your local computer and executed. However, many annotation datasets as well as the GWAS summary statistics are not available in the package and should be downloaded separately. Therefore, we strongly recommend the online application.<br>
                snpXplorer is under active development, please do not hesitate to <a href="mailto:n.tesi@amsterdamumc.nl">reach us</a> for questions, comments, feedbacks or collaboration opportunities.</p>
                <p>Log history:
                    <ul>
                        <li>August 2023: snpXplorer has been completely re-written based on Flask, providing huge improvements in stability and speed.</li>
                        <li>March 2022: snpXplorer has been re-designed while keeping the old Shiny implementation.</li>
                        <li>February 2022: Added sQTL to the Annotation section.</li>
                        <li>December 2021: GWAS catalog release was updated to the latest available.</li>
                        <li>November 2021: New GWAS summary statistics added (Largest GWAS of Alzheimer's disease, Multivariate analysis of Longevity, Healthspan and Lifespan), and new Annotation analysis available, which allows to annotate up to 10,000 SNPs without performing gene-set enrichment analysis.</li>
                        <li>August 2021: CADD v1.6 (most updated) is now used for SNP annotation. Also, more support for rarer variants based on 1000Genome population.</li>
                        <li>May 2021: snpXplorer was born! </li>
                    </ul>
                </p>

                <p>What's next:
                    <ul>
                        <li>GWAS catalog summary statistics integration</li>
                        <li>Increase number of SNPs considered for Annotation analysis</li>
                        <li>Implement Linkage viewer</li>
                        <li>Implement upload of own GWAS datasets</li>
                        <li>More support for structural variations</li>
                    </ul>
                </p>
            </div>
        </div>

        <!-- Data and references -->
        <div class="container-main">
            <div class="column" id="column3">
                <h2>Data and references</h2>
                <p>GWAS studies included:
                    <ul>
                        <li><a href="https://doi.org/10.1038/s41588-021-00921-z">Wightman et al., 2021 (Alzheimer's Disease)</a></li>
                        <li><a href="https://doi.org/10.1038/s41467-021-22491-8">De Rojas et al., 2021 (Alzheimer's Disease)</a></li>
                        <li><a href="https://doi.org/10.1038/s41588-019-0358-2">Kunkle et al., 2019 (Alzheimer's Disease)</a></li>
                        <li><a href="https://doi.org/10.1038/s41588-018-0311-9">Jansen et al., 2019 (Alzheimer's Disease)</a></li>
                        <li><a href="https://doi.org/10.1038/s41398-020-00953-9">Matoba et al., 2019 (Autism)</a></li>
                        <li><a href="https://doi.org/10.1038/s41588-020-0594-5">Cai et al., 2020 (Depression)</a></li>
                        <li><a href="https://doi.org/10.1161/CIRCRESAHA.117.312086">Van der Harst et al., 2017 (Coronary Artery Disease)</a></li>
                        <li><a href="https://doi.org/10.1007/s00125-018-4686-z">Fall et al., 2018 (Coronary Artery Disease in Diabetes)</a></li>
                        <li><a href="https://doi.org/10.1038/s41467-018-06234-w">Vojinovic et al., 2018 (Lateral Ventricular Volume)</a></li>
                        <li><a href="https://doi.org/10.1038/s41588-018-0205-x">Evangelou et al., 2018 (Systolic Blood Pressure)</a></li>
                        <li><a href="https://doi.org/10.1093/hmg/ddy271">Yengo et al., 2018 (Body Mass Index)</a></li>
                        <li><a href="https://doi.org/10.2337/db19-0831">Forgetta et al., 2020 (Type-1 Diabetes)</a></li>
                        <li><a href="https://doi.org/10.1038/s41586-020-03065-y">Erola Pairo-Castineira et al., 2020 (COVID-19 critical illness)</a></li>
                        <li><a href="https://doi.org/10.1038/s41467-021-21049-y">Yong-Fei Wang et al., 2021 (Systemic Lupus)</a></li>
                        <li><a href="https://doi.org/10.1038/s41431-020-00730-8">Ruotsalainen et al., 2020 (Inflammatory Biomarkers)</a></li>
                        <li><a href="https://doi.org/10.1038/s41467-020-15649-3">Han et al., 2020 (Asthma)</a></li>
                        <li><a href="https://doi.org/10.1038/s41588-020-0609-2">Zhang et al., 2020 (Breast Cancer)</a></li>
                        <li><a href="https://doi.org/10.1038/s41586-020-2786-7">Bao et al., 2020 (Myeloproliferative Neoplasm)</a></li>
                        <li><a href="https://doi.org/10.1371/journal.pone.0236209">Fiorica et al., 2020 (Prostate Cancer)</a></li>
                        <li><a href="https://doi.org/10.1038/s41467-020-18246-6">Rashkin et al., 2020 (Lung Cancer)</a></li>
                        <li><a href="https://doi.org/10.1038/s41467-020-18246-6">Rashkin et al., 2020 (Lymphocytic Leukemia)</a></li>
                        <li><a href="https://doi.org/10.1038/s41467-020-17312-3">Timmers et al., 2020 (Longevity/Lifespan/Healthspan)</a></li>
                        <li><a href="https://doi.org/10.7554/eLife.39856">Timmers et al., 2019 (Parental Longevity)</a></li>
                        <li><a href="https://doi.org/10.1093/hmg/ddy271">Yengo et al., 2018 (Height)</a></li>
                        <li><a href="https://doi.org/10.1038/s41588-020-00754-2">Demange et al., 2021 (Education)</a></li>
                        <li><a href="https://doi.org/10.1038/s41467-020-17315-0">Surakka et al., 2020 (Bone Density and fracture risk)</a></li>
                        <li><a href="https://doi.org/10.1016/j.ajhg.2020.01.017">Manousaki et al., 2020 (Vitamin D)</a></li>
                    </ul>
                </p>
                <p>Structural Variants datasets included:
                    <ul>
                        <li><a href="https://doi.org/10.1038/s41398-020-01060-5">Linthrost et al., 2021</a></li>
                        <li><a href="https://doi.org/10.1016/j.cell.2018.12.019">Audano et al., 2019</a></li>
                        <li><a href="https://doi.org/10.1038/s41467-018-08148-z">Chaisson et al., 2019</a></li>
                    </ul>
                </p>

            </div>
        </div>

        <!-- Footnote images -->
        <div class="image-container-foot">
            <img src="{{ url_for('static', filename='images/amstUMC.jpg') }}" alt="ams">
            <img src="{{ url_for('static', filename='images/tudelft1.png') }}" alt="tud">
            <img src="{{ url_for('static', filename='images/github.png') }}" alt="gith">
        </div>
    </body>
{% endblock %}